body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("./assets/background.jpg");
  background-size: 100%;
}

main {
  display: flex;
  justify-content: flex-start;
  align-items: self-start;
}

#sidebar {
  margin-right: 20px;
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  border: white solid 2px;
  box-shadow: black 5px 5px 5px;
  background-image: url("src/assets/chickewings.jpg");
  background-size: 100%;
}
#sidebar a {
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: rgba(255, 153, 0, 0.566);
  width: 100%;
}

#sidebar a:hover {
  color: yellow;
  background-color: rgba(0, 0, 0, 0.246);
}

#contentsbox {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: grey;
  text-align: center;
}

.articles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 10px 10px;
  border: black solid 2px;
  border-radius: 20px;
  box-shadow: black 5px 5px 5px;
}
@media (max-width: 992px) {
  #contentsbox {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    overflow: auto;
    width: 80%;
  }
}

.articles img {
  width: 50%;
  height: 50%;
}
.articles img:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.infobox {
  padding: 20px 0px;
  text-align: center;
  border: inset rgb(239, 249, 101) 3px;
  width: 50%;
}

.articles:hover {
  background-image: repeating-linear-gradient(
    rgba(0, 128, 0, 0.274),
    rgba(255, 255, 0, 0.301),
    rgba(255, 0, 0, 0.258)
  );
}
.closeBtn {
  margin: 0 10px;
  align-self: flex-end;
}

.closeBtn:hover {
  background-image: repeating-linear-gradient(
    rgba(255, 0, 0, 0.258),
    rgba(255, 255, 0, 0.301),
    rgba(0, 128, 0, 0.274)
  );
  font-size: 20px;
}

.navbar {
  margin-bottom: 10px;
  border: solid black 1px;
  box-shadow: black 1px 1px 1px;
  text-align: center;
  color: white;
  padding: 20px;
  background-image: url("../src/assets/food.jpg");
  background-size: 100%;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 30px;
}

#form-new-recipe {
  border: solid rgb(255, 255, 255) 2px;
  box-shadow: black 5px 5px 5px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form-new-recipe form {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 10px;
}

#form-new-recipe button {
  margin: 10px;
  padding: 5px 10px;
  width: 20%;
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 153, 0, 0.566);
  border-radius: 100px;
  color: rgba(255, 255, 255, 0.868);
}

.details-container img {
  width: 80%;
}
.info-details {
  margin: 30px;
  font-size: larger;
  border: solid white 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.info-details li:hover {
  color: red;
  transition-duration: 1.5s;
}
